.App {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 5em 3em auto;
  text-align: center;
  width: 100%;
  background-color: rgb(251, 179, 131);
}

.Header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-rows: 3em 2em;
  grid-template-columns: 10em auto 10em;

  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  background-color: rgb(250, 142, 92);
  /* padding: 3%; */
  width: 100%;
  position: fixed;
}

.home-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.3em;
  font-family: Sahitya;
  color: grey;
  width: 5em;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.home-link:hover {
  font-weight: bold;
  color: lightseagreen;
}
.topics-nav {
  display: flex;
  flex-direction: flex-start;
  justify-content: space-evenly;
  font-family: Sahitya;
  font-size: 1.2em;
  width: 12em;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.topics-nav:hover {
  font-weight: bold;
  color: lightsteelblue;
}
.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 5em;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

.login-header-container {
  font-weight: normal;
  background-color: lightseagreen;
  margin-left: 1%;
  width: 5em;
  height: 1.5em;
  border: thin;
  border-color: lightseagreen;
  border-radius: 15%;
  position: relative;
}

.login-header-container:hover {
  font-weight: bold;
  border: black;
  border-width: thick;
}

.login-list-container {
  position: relative;
  background-color: pink;
  position: relative;
}

.login-list-items {
  background-color: pink;
  color: black;
  position: relative;
}

.login-list-item:hover {
  background-color: pink;
  color: black;
  font-weight: bolder;
}

.logOut:hover {
  color: black;
  font-weight: bolder;
}

.article-container {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 2em 8em;
  grid-template-rows: 2em 1em 11em 2em 1em;
  font-weight: normal;
  background-color: rgb(250, 142, 92);
  box-shadow: 10px 5px 5px rgb(245, 144, 86);
  border-radius: 2%;
  width: 40em;
  height: 17em;
}

.article-body-container {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(251, 200, 166);
  border-radius: 2%;
  width: 38em;
  height: 14em;
}
.article-body {
  font-size: 0.9em;
  color: rgb(87, 87, 87);
  overflow: hidden;
}

.all-articles-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
}

.all-articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
}

.article-header-main {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  color: grey;
  font-size: 1.5em;
  background-color: rgb(250, 142, 92);
  border-radius: 2%;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.article-header-sub {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 2%;
  color: rgb(0, 255, 242);
  background-color: rgba(255, 203, 92, 0.849);
  height: 1.3em;
  font-size: 0.8em;
  color: grey;
}

.article-votes {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: grey;
  background-color: rgb(250, 142, 92);
}

.delete-button {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 2em;
  height: 2em;
}

.single-article-container {
  display: grid;
  grid-template-columns: 6em 40em;
  grid-template-rows: 2em 1em 12em;
  border: black;
  padding: 2em;
}

.single-article-header {
  color: blue;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.single-article-header-title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.single-article-subHeader {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background: wheat;
}

.single-article-subHeader-text {
  background: wheat;
}

.single-article-body {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: teal;
}

.single-article-body-text {
  background-color: teal;
}

.article-votes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.comment-container {
  display: grid;
  grid-template-columns: 4em 25em;
  grid-template-rows: 3em 12em;
  grid-column-start: 2;
  grid-column-end: 3;
}

.comment-card-header {
  background-color: cyan;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.comment-card-header-text {
  color: black;
}

.comment-card-header-main {
  background-color: rgb(138, 223, 223);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.comment-card-body {
  color: blue;
  background-color: cadetblue;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.comment-card-body-text {
  color: black;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}
.comment-votes {
  background-color: darkcyan;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sort-dd-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.article-submit-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  margin: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(250, 217, 146);
}

.article-submit-form {
  color: grey;
}

.new-article-body {
  width: 40em;
  height: 10em;
}

.new-article-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-article-button {
  width: 5em;
  height: 2em;
  border-radius: 12%;
}

.error {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}

.please-login {
  color: grey;
  font-size: 2em;
}
